# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal

# If you're using a PostgreSQL database
*.pgsql

# Environments
.env
env/
venv/
ENV/
venv.bak/
*.env

# Django migrations
migrations/
*/migrations/*.py
*/migrations/*.pyc

# Media files
media/

# Static files
staticfiles/
static/

# MacOS
.DS_Store

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Git and other version control systems
*.orig
